<div class="container">
  <div class="row">
    <div class="container mt-5 mb-5">
      <div class="d-flex justify-content-center row">
        <div class="d-flex flex-column col-md-8">
          <div class="d-flex flex-row align-items-center text-left comment-top p-2 bg-white border-bottom px-4">
            <!--            <div class="profile-image"><img class="rounded-circle" src="https://i.imgur.com/t9toMAQ.jpg" width="70"></div>-->
            <!--            <div class="d-flex flex-column-reverse flex-grow-0 align-items-center votings ml-1"><i class="fa fa-sort-up fa-2x hit-voting"></i><span>127</span><i class="fa fa-sort-down fa-2x hit-voting"></i></div>-->
            <div class="d-flex flex-column ml-3">
              <div class="d-flex flex-row post-title">
                <h5><%= @question.content %></h5><span class="ml-2"><%= @question.user.email %></span>
              </div>
              <div class="d-flex flex-row align-items-center align-content-center post-title">
                <span class="mr-2 comments"><%= @question.comments.length %> comments&nbsp;</span><span class="mr-2 dot"></span>
              </div>
            </div>
          </div>
          <div class="coment-bottom bg-white p-2 px-4">
            <%= form_with(url: comments_url, method: "post", scope: :comments)  do |f| %>
            <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                  <%= f.hidden_field :question_id, :value=>@question.id %>
                  <%= f.hidden_field :user_id, :value=>current_user.id %>
                  <%= f.text_area :content, class: 'form-control mr-3' %>

<!--                <button class="btn btn-primary" type="button">Comment</button>-->
                  <% if @question.user.email != current_user.email %>
                  <%= f.submit  :class => 'btn btn-primary', :value => 'Add Comment'%>
                  <% end %>

            </div>
            <% end %>
            <% if @question.comments.length > 0 %>
              <% @question.comments.each do |comment| %>
                <% if comment.active? %>
                <div class="commented-section mt-2">
                  <div class="d-flex flex-row align-items-center commented-user">
                    <h5 class="mr-2"><%= comment.user.email %></h5>
                    <span class="dot mb-1"></span><span class="mb-1 ml-2"><%= comment.created_at.strftime('%A, %d %B %Y') %></span>
                  </div>
                  <div class="comment-text-sm">
                    <span><%= comment.content %></span>
                  </div>
                  <div class="reply-section">
                    <div class="d-flex flex-row align-items-center voting-icons">
                      <% pre_like = comment.likes.find { |like| like.user_id == current_user.id} %>
                      <% if !pre_like %>
                      <%= button_to question_comment_likes_path(@question.id, comment.id), scope: :comments, method: :post, class:"btn btn-outline-primary" do %>
                        <i class="fa fa-thumbs-up"></i>
                      <% end %>
                      <% else %>
                      <%= button_to question_comment_like_path(@question.id, comment.id, pre_like), scope: :comments, method: :delete, class:"btn btn-outline-primary" do %>
                        <i class="fa fa-thumbs-down"></i>
                      <% end %>

                        <% end %>
                      &nbsp;
                      <%= comment.likes.count %>
<!--                      <p><%#= comment.likes.count %> <%#= (comment.likes.count) == 1 ? 'Like' : 'Likes'%></p>-->
<!--                      <i class="fa fa-sort-up fa-2x mt-3 hit-voting"></i>-->
<!--                      <i class="fa fa-sort-down fa-2x mb-3 hit-voting"></i>-->
<!--                      <span class="ml-2">10</span><span class="dot ml-2"></span>-->
                      <!--                  <h6 class="ml-2 mt-1">Reply</h6>-->
                    </div>
                  </div>
                </div>
                  <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
